<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.facade.dao.ConfigMapper">
    <resultMap id="BaseResultMap" type="com.easy.facade.beans.model.Config">
        <!--@mbg.generated-->
        <!--@Table easy_config-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="config_name" jdbcType="VARCHAR" property="configName"/>
        <result column="config_key" jdbcType="VARCHAR" property="configKey"/>
        <result column="config_value" jdbcType="VARCHAR" property="configValue"/>
        <result column="config_type" jdbcType="INTEGER" property="configType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        config_name,
        config_key,
        config_value,
        config_type,
        create_time,
        update_time,
        remark
    </sql>

    <select id="selectConfigVO" resultType="com.easy.facade.beans.vo.ConfigVO">
        SELECT id AS id,
        config_name AS configName,
        config_key AS configKey,
        config_value AS configValue,
        config_type AS configType,
        create_time AS createTime,
        update_time AS updateTime,
        remark AS remark
        FROM easy_config
        <where>
            <if test="dto.configName != null and dto.configName != ''">
                and config_name = #{dto.configName}
            </if>
            <if test="dto.configKey != null and dto.configKey != ''">
                AND config_key = #{dto.configKey}
            </if>
            <if test="dto.configType != null">
                AND config_type = #{dto.configType}
            </if>
        </where>
    </select>
</mapper>
